/* Variables */
/* Global Styles */
#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: "Inter", sans-serif;
  color: #253347;
  font-size: 16px;
  line-height: 150%;
  column-gap: 32px;
  row-gap: 32px;
  margin: 0 140px;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 110%;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 110%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
}

p {
  color: #5e6e85;
}

.copy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  border: 1px solid #d8e2e7;
}

input[type=radio] {
  width: 31px;
  height: 31px;
}

input:focus {
  outline: none;
  border: 1px solid #345ff6;
  border-color: #345ff6;
}

/* This is to remove the increment/decrement buttons for the number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Header */
header {
  grid-column: 1/span 12;
  height: 46rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
header #gradient-background {
  grid-area: 1/1/span 5/span 9;
  background: linear-gradient(to right, white, #d6e6fe);
  border-bottom-right-radius: 35px;
}
header .copy-container {
  grid-area: 2/1/span 1/span 4;
  width: 35.25rem;
  margin-left: 8.7rem;
}

#logo {
  width: 64px;
  height: 64px;
  margin-left: 8.75rem;
  margin-bottom: 6rem;
  margin-top: 2rem;
}

/* BMI Calculator */
#metric {
  grid-area: 2/7/span 3/span 6;
}

#imperial {
  grid-area: 2/7/span 4/span 6;
}

.bmi-calculator {
  grid-area: 2/7/span 3/span 6;
  background-color: white;
  border-radius: 32px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
}
.bmi-calculator h3 {
  margin: 2rem;
}
.bmi-calculator form {
  margin: 2rem;
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
}
.bmi-calculator .input-group-radio {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.bmi-calculator .input-group-radio label {
  margin-left: 1rem;
}
.bmi-calculator .input-group-number {
  font-size: 0.75rem;
  color: #5e6e85;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.bmi-calculator .input-group-number input {
  border-radius: 12px;
  height: 75%;
}
.bmi-calculator .input-unit {
  display: flex;
  align-items: center;
}
.bmi-calculator .unit {
  color: #345ff6;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  left: -40px;
}
.bmi-calculator #radio-metric {
  grid-area: 1/1/span 1/span 3;
}
.bmi-calculator #radio-imperial {
  grid-area: 1/4/span 1/span 3;
}
.bmi-calculator #input-height {
  grid-area: 2/1/span 1/span 3;
  margin-right: 1.5rem;
}
.bmi-calculator #input-weight {
  grid-area: 2/4/span 1/span 3;
}
.bmi-calculator #inputs-imperial {
  grid-area: 2/1/span 1/span 5;
}
.bmi-calculator .imperial-input-group {
  display: flex;
  justify-content: space-between;
}
.bmi-calculator #calculator-results {
  grid-area: 3/1/span 2/span 6;
  border: none;
  background-color: #345ff6;
  color: white;
  text-align: left;
  border-top-left-radius: 64px;
  border-bottom-left-radius: 64px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  padding: 2rem;
}
.bmi-calculator #calculator-results p {
  color: white;
}
.bmi-calculator #calculator-results h3 {
  margin: 0;
}
.bmi-calculator .complete {
  display: flex;
  align-items: center;
}
.bmi-calculator .complete .bmi-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-right: 1.5rem;
}
.bmi-calculator .complete .bmi-result h5 {
  margin: 0;
}
.bmi-calculator .complete .bmi-result .bmi {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
}

/* What Your Results Mean */
#result-meaning {
  width: 85%;
  grid-column: 1/span 12;
  grid-row: 2/span 1;
  margin: auto;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: flex-end;
}
#result-meaning img {
  width: 50%;
}
#result-meaning .copy-container {
  height: 80%;
}

#curve-left {
  width: 85px;
  height: 200px;
  align-self: flex-end;
  position: relative;
  bottom: 400px;
  left: 250px;
}

/* Tips */
#tips {
  width: 98%;
  background: linear-gradient(to right, white, #d6e6fe);
  border-radius: 35px;
  margin: 6rem 2rem;
  grid-column: 1/span 12;
  grid-row: 3/span 1;
}
#tips ul {
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  list-style: none;
  gap: 2rem;
}
#tips li {
  margin: 2rem;
}

/* Limitations*/
#limitations {
  width: 90%;
  margin: auto;
  margin-bottom: 4rem;
  grid-column: 1/span 12;
  grid-row: 4/span 1;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  /* Limitation grid positioning */
}
#limitations #limitations-description {
  grid-column: 1/span 6;
}
#limitations #curve-right {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
}
#limitations .limitation {
  width: 385px;
  border-radius: 16px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
  padding: 2rem;
}
#limitations #gender {
  grid-area: 1/8/span 1/span 4;
}
#limitations #age {
  grid-area: 2/5/span 1/span 4;
}
#limitations #muscle {
  grid-area: 2/9/span 1/span 4;
}
#limitations #pregnancy {
  grid-area: 3/3/span 1/span 4;
}
#limitations #race {
  grid-area: 3/7/span 1/span 4;
}

/*# sourceMappingURL=index.css.map */
