/* Variables */
$font-stack: "Inter", sans-serif;
$blue: #345ff6;
$gunmetal: #253347;
$darkElectricBlue: #5e6e85;
$bordercolour: #d8e2e7;

/* Global Styles */
#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: $font-stack;
  font-size: 16px;
  line-height: 150%;
  column-gap: 32px;
  row-gap: 32px;
  margin: 0 140px;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 110%;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 110%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 110%;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 110%;
}

p {
  color: $darkElectricBlue;
}

.copy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */
header {
  grid-column: 1 / span 12;
  height: 46rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  #gradient-background {
    grid-area: 1 / 1 / span 5 / span 9;
    background: linear-gradient(to right, white, #d6e6fe);
    border-bottom-right-radius: 35px;
  }
  .copy-container {
    grid-area: 2 / 1 / span 1 / span 4;
    width: 35.25rem;
    margin-left: 8.7rem;
  }
}

#logo {
  width: 64px;
  height: 64px;
  margin-left: 8.75rem;
  margin-bottom: 6rem;
}

/* BMI Calculator */
.bmi-calculator {
  grid-area: 2 / 7 / span 3 / span 6;
  background-color: white;
  border-radius: 32px;
  box-shadow: 16px 32px 56px 0 rgba($color: #8faecf, $alpha: 0.25);
  h3 {
    margin: 2rem;
  }
  form {
    margin: 2rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 32px;
  }
  #radio-metric {
    grid-area: 1 / 1 / span 1 / span 2;
  }
  #radio-imperial {
    grid-area: 1 / 3 / span 1 / span 2;
  }
  #input-height {
    grid-area: 2 / 1 / span 1 / span 2;
  }
  #input-weight {
    grid-area: 2 / 3 / span 1 / span 2;
  }
  button {
    grid-area: 3 / 1 / span 2 / span 5;
  }

}

/* What Your Results Mean */
#result-meaning {
  width: 85%;
  grid-column: 1 / span 12;
  grid-row: 2 / span 1;
  margin: auto;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: flex-end;
  img {
    width: 50%;
  }
  .copy-container {
    height: 80%;
  }
}

#curve-left {
  width: 85px;
  height: 200px;
  align-self: flex-end;
  position: relative;
  bottom: 400px;
  left: 250px;
}

/* Tips */
#tips {
  width: 98%;
  background: linear-gradient(to right, white, #d6e6fe);
  border-radius: 35px;
  margin: 6rem 2rem;
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;
  ul {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    list-style: none;
    gap: 2rem;
  }
  li {
    margin: 2rem;
  }
}

/* Limitations*/
#limitations {
  width: 90%;
  margin: auto;
  margin-bottom: 4rem;
  grid-column: 1 / span 12;
  grid-row: 4 / span 1;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  #limitations-description {
    grid-column: 1 / span 6;
  }
  #curve-right {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
  .limitation {
    width: 385px;
    border-radius: 16px;
    box-shadow: 16px 32px 56px 0 rgba($color: #8faecf, $alpha: 0.25);
    padding: 2rem;
    
  }
  /* Limitation grid positioning */
  #gender {
    grid-area: 1 / 8 / span 1 / span 4;
  }
  #age {
    grid-area: 2 / 5 / span 1 / span 4;
  }
  #muscle {
    grid-area: 2 / 9 / span 1 / span 4;
  }
  #pregnancy {
    grid-area: 3 / 3 / span 1 / span 4;
  }
  #race {
    grid-area: 3 / 7 / span 1 / span 4;
  }
}
